* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  background-color: #ecddcb;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #461f10;
  background:rgb(121, 87, 59);
  padding: 10px;
  box-shadow: 4px 4px #b88c6d;
  
}


.header {
  padding-left: 50px;
  padding-top: 20px;
  background: url("resources/cart.png");
  background-size: cover;
  background-position: right;
  height: 100vh;
}

#header-title {
  padding: 30px;
  text-shadow: 3px 3px #3b3b3b;
  text-align: left;
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.subheader {
  padding-left: 35px;
  border-radius: 10px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-top: 20px;
  font-family: Arial, Helvetica;
  line-height: 25px;
 
}

.button {
  height: 100px;
  width: 300px;
  border-radius: 100px;
  font-size: 20px;
  border: ridge;
  border-width: 5px;
  font-weight: bold;
  
}

.section-title {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}


#pledgeTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #a27b6c;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;  
  width:60vw;
  font-size: 20px;
}

#pledge {
  color:rgb(254, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

#ageTitle {
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #461f10;
  background:rgb(121, 87, 59);
  padding: 10px;
  box-shadow: 4px 4px #b88c6d;
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  font-size: 20px;
  
}


#ageSectionTitle {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  border-radius: 10px;
  height: 50px;
  
}


#ageChartID {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  overflow: hidden;
}




h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: rgb(255, 243, 236);
  text-decoration: underline;
 
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}

#intro {
  margin-bottom: 320px;
}

#realFooter {
  background-color: #41312a;
  height: 400px
}

#footer {
  background-color: #41312a;
  color:rgb(254, 255, 255);
}

#outro {
  height: 300px;
  background-color: #41312a;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ecddcb;
  padding: 1rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  
}

/*this is the colour of the post it*/
.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  border-radius: 15px;
  background-color: #ffffff;
  border-color: #b88c6d;
  border-style: solid;
  border-width: 5px;
  z-index: 0;
  top: 15vh;
  height: 60vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-thing p {
  /*padding: 1rem;*/
  font-size: 8rem;
  font-weight: 900;
  color: #5f0707;
  width: 2px;
  visibility: hidden
}

.step {
  margin: 0 auto 2rem auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #161d13;
  box-shadow: 4px 4px #b88c6d;
  color: #fff;
  margin-top: 0px;
  
}


.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: rgb(254, 255, 255);
  color: #020000;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  
}

/*tabs*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: hidden;
  border-radius: 10px;
  background-color: #bcbcbc;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;

  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #5c5953;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  margin: auto;
  display: none;
  font-weight: 3px;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}



/*flip card*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 15px;
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 1, 1);
  transform: rotateY(180deg);
}

/* Style image on flip cards*/

.flip-image{
  border-radius: 15px;
  width:350px;
  height:500px;
}

/*Flex flip card*/
#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
  margin: 50px auto;
  
}
