* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  background-color: #ecddcb;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  
}


.food-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #461f10;
  background:rgb(34, 43, 70);
  padding: 10px;
  box-shadow: 4px 4px #6d81b8;
  
}

.fashion-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #461f10;
  background:rgb(121, 59, 78);
  padding: 10px;
  box-shadow: 4px 4px #b86d9b;
  
}

.recycling-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #461f10;
  background:rgb(199, 140, 52);
  padding: 10px;
  box-shadow: 4px 4px #dfa01a;
  
}


.header {
  padding-left: 50px;
  padding-top: 20px;
  background: url("resources/DEAR\ SINGAPOREAN.png");
  background-size: cover;
  background-position: right;
  height: 100vh;
  margin-bottom: 0px;
}

#headerTitle {
  padding-top: 7vh;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 4.5vw;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: "Bitstream Vera Sans Mono", "Times New Roman", "Georgia";
}


/*Habits and Effects Button*/
#headerbutton1 {
  position: absolute;
  top: 55vh;
  left: 49vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 1.5vw;
  margin-top: 20vh;

  border: none;
  box-shadow: 4px 4px #3b3b3b;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  font-family: "Bitstream Vera Sans Mono", "Times New Roman", "Georgia";
}
  
#headerbutton1:hover {
  background-color: rgb(71, 65, 65);
  color: white;
}


/*Sustainable Consumer Button*/
#headerbutton2 {
  position: absolute;
  top: 55vh;
  left: 68vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 1.5vw;
  margin-top: 20vh;
  border: none;
  box-shadow: 4px 4px #3b3b3b;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  font-family: "Bitstream Vera Sans Mono", "Times New Roman", "Georgia";
}
  
#headerbutton2:hover {
  background-color: rgb(71, 65, 65);
  color: white;
}

/*Singapore Green Plan Button*/

#headerbutton3 {
  position: absolute;
  top: 55vh;
  left: 30vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 1.5vw;
  margin-top: 20vh;
  border: none;
  box-shadow: 4px 4px #3b3b3b;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-family: "Bitstream Vera Sans Mono", "Times New Roman", "Georgia";
}
  
#headerbutton3:hover {
  background-color: rgb(71, 65, 65);
  color: white;
}



.subheaderDiv{
  background: #ecddcb;
  margin: 0px;
  height: 100vh;

}


.subheader {
  padding-top: 12vh;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.3vw;
  margin-top: 0px;
  font-family: Arial, Helvetica;
  line-height: 4vh;
 
}

.button {
  height: 100px;
  width: 300px;
  border-radius: 100px;
  font-size: 20px;
  border: none;
  border-width: 5px;
  font-weight: bold;
  box-shadow: 4px 4px #bb997c;
  cursor: pointer;
 
}

.button:hover {
  height: 100px;
  width: 300px;
  border-radius: 100px;
  font-size: 20px;
  border: none;
  border-width: 5px;
  font-weight: bold;
  background-color: #d3c9c9;
}

.section-title {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}


#pledgeTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #a27b6c;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;  
  width:60vw;
  font-size: 20px;
}

#pledge {
  color:rgb(254, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}



.ageTitle {
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #461f10;
  background:rgb(121, 87, 59);
  padding: 10px;
  box-shadow: 4px 4px #b88c6d;
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  font-size: 20px;
  
}


#ageSectionTitle {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  border-radius: 10px;
  height: 50px;
  
}


#ageChartID {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  overflow: hidden;
}



h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: rgb(105, 105, 161);
  text-decoration: underline;
 
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}

#intro {
  margin-bottom: 320px;
}

#realFooter {
  background-color: #41312a;
  height: 400px
}

#footer {
  background-color: #41312a;
  color:rgb(254, 255, 255);
}

#outro {
  height: 300px;
  background-color: #41312a;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ecddcb;
  padding: 1rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  
}

/*this is the colour of the post it*/
.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  border-radius: 15px;
  background-color: #ecddcb;
  border-color: #030202;
  border-style: hidden;
  border-width: 10px;
  z-index: 0;
  top: 15vh;
  height: 60vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-thing p {
  /*padding: 1rem;*/
  font-size: 8rem;
  font-weight: 900;
  color: #5f0707;
  width: 2px;
  visibility: hidden
}

.step {
  margin: 0 auto 3rem auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #161d13;
  box-shadow: 4px 4px #9e9690;
  color: #fff;
  margin-top: 0px;
  width: 100%;
  
}


.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: rgb(254, 255, 255);
  color: #020000;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  
}

/*tabs*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: hidden;
  border-radius: 10px;
  background-color: #bcbcbc;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;

  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #5c5953;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  margin: auto;
  display: none;
  font-weight: 3px;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}



/*flip card*/
/* Flip card container*/
.flip-card {
  background-color: transparent;
  border-radius: 10px;
  width: 315px;
  height: 450px;
  perspective: 1000px; /* for 3D effect */
}

/*Position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Horizontal flip on mouseover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Front side style */
.flip-card-front {
  border-radius: 15px;
  background-color: #bbb;
  color: black;
}

/* Back side style*/
.flip-card-back {
  border-radius: 15px;
  background-color: rgb(252, 255, 252);
  color: rgb(32, 1, 1);
  transform: rotateY(180deg);
}

/* Style image on flip cards*/

.flip-image{
  border-radius: 15px;
  width: 315px;
  height: 450px;
}

/*Flex flip card*/
#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
  margin: 50px auto;
  
}

/*Flip card header*/
h1 {
  font-family: Helvetica, sans-serif;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

/*Flip card content*/
.flipContent{
  text-align: center;
  align-items: center;
  font-size: 16px;
}

.icon{
  width: 50px;
  height: 55px;
  padding-top: 10px;
  padding-bottom: 0px;
}